name: MLflow CI Advanced

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 pandas numpy scikit-learn

    # TRAIN MODEL
    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local --experiment-name="CI_Breast_Cancer_Training"

    # BUILD DOCKER IMAGE
    - name: Build Docker Image with MLflow
      run: |
        cd MLProject
        MODEL_PATH=$(ls -td mlruns/*/*/artifacts/model | head -1)
        echo "Using model at: $MODEL_PATH"
        mlflow models build-docker \
          -m "$MODEL_PATH" \
          -n ilmanf17/my-app-ilman

    # PUSH DOCKER HUB
    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ilmanf17/my-app-ilman

    # SAVE ke artifak
    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns